@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;1,500&display=swap);
.Recipes {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    overflow: hidden;
}
.Search {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    text-align: left;
    padding-left: 10px;
    background-color: #3dc371;
    color: white;
    width: 600px;
    padding-top: 8px;
    height: 40px;
    font-size: 16px;
    border: none;
    margin: 1px 0 2px 0;
    border-radius: 5px;
}
.Searchbar {
    box-sizing: border-box;
    margin-left: 10px;
    width: 65%;
    height: 26px;
    outline: none;
    border: none;
}
.Invalid {
    border: 1px solid #ff0000;
}
.Small-Search {
    margin-left: 5px;
    margin-right: 5px;
    width: 50px;
    height: 23px;
    outline: none;
    border: none;
}
.Input-Section {
    width: 50%;
    text-align: left;
}
.Input-Section-Right {
    width: 50%;
    float: right;
    text-align: right;
    padding: 0 5px 0 0;
}
.Input-Full {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: left;
}
.Input-Header {
    flex-grow: 1;
    text-align: right;
    margin-right: 5px;
}
.Modal {
    box-sizing: border-box;
    border-radius: 5px;
    position: absolute;
    bottom: 250px;
    width: 400px;
    height: 200px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
}
.Modal-Title {
    padding-top: 15px;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.modal-enter {
    opacity: 0;
    bottom: 35px;
    width: 600px;
    height: 100px;
    transform: translateY(0px);
}
.modal-enter-active {
    width: 400px;
    opacity: 1;
    height: 200px;
    transform: translateY(-215px);
    transition: all 450ms;
}
.modal-exit {
    width: 400px;
    opacity: 1;
    height: 200px;
    transform: translateY(0vh);
}
.modal-exit-active {
    opacity: 0;
    height: 100px;
    bottom: 35px;
    width: 600px;
    transform: translateY(0vh);
    transition: all 450ms;
}
.Backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    background-color: #FFFFFB;
}
.backdrop-enter {
    opacity: 0;
}
.backdrop-enter-active {
    opacity: 0.7;
    transition: all 450ms;
}
.backdrop-exit {
    opacity: 0.7;
}
.backdrop-exit-active {
    opacity: 0;
    transition: all 450ms;
}
.Yes {
    margin-top: 70px;
    margin-right: 20px;
    padding: 8px 40px;
    background-color: #00c06a;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}
.Yes:hover {
    cursor: pointer;
    background-color: #009a55;
}
.Yes:focus {
    outline: none
}
.No {
    padding: 8px 40px;
    background-color: #f00220;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}
.No:hover {
    cursor: pointer;
    background-color: #c0021a;
}
.No:focus {
    outline: none;
}