.MainMenu {
    padding-left: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
.Title {
    padding: 0 7px 0 7px;
    font-size: 1.3em;
}
.Nav-Select {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    height: 100%;
    justify-content: center;
}
.Nav {
    height: inherit;
}